html{
  font-size: 18px; /* Tamanho padrão da fonte é 16px */
}
body{
  font-family: 'Poppins', sans-serif;
}

#main-content{
  width: 70%;
  height: 50%;
  margin: 0 15% 0 15%;
  padding: 2rem 4rem;
  background-color: grey;
  border: 2px solid transparent;
  box-sizing: border-box;
  /* transition: border 0.4s; */
  
}

#main-content:hover {
  border: 2px solid black;
  box-shadow: 0 0 35px rgba(0, 0, 0, 100%); /*x, y, densidade, cor*/
  transition: border 2s;
}

#main-content > h1{
  font-size: 50px;
  text-transform: lowercase; /* transforma todo o texto em maiusculas ou minusculas entre outras*/
}

p{
  font-size: 1.2rem; /* O rem usa como referência o tamanho padrão que foi definido na tag html ou o tamanho padrão*/
  text-align: justify;
  color:#222222;
  background-color: rgba(0, 0, 0, 0%);
  line-height: 1.4rem;
  font-weight: 400;
}
p:hover{
  transform: scale(1.1, 1.1);
  transform: translate(5px, 5px);
  /* transform: rotate(3deg); */
}

span{
  width: 600px;
  height: 100px;
  margin: 0 15%;
  /* text-decoration: underline wavy red;
  box-sizing: border-box; */
}

.bg-blue{
  width: 500px;
  height: 100px;
  margin: 0 15%;
  margin-top: 5px;
  background-color: lightblue;
  padding: 2rem;
  box-sizing: border-box;
}

.bg-red{
  width: 500px;
  height: 100px;
  margin: 0 15%;
  margin-top: 5px;
  background-color: red;
}

@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}